{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row justify-content-center my-4">
  <div class="col-md-7 mt-4">
    <div class="card">
      <h1 class="card-header text-center">ИИ ПОМОГАТОР</h1>
      <div class="card-body">
        <div class="chat-history mb-3">
          {% for message in messages %}
          <div class="card mb-2 {% if message.role == 'assistant' %}bg-success text-white{% endif %}">
            <div class="card-body p-2">
              <strong>{{ message.role|title }}:</strong> {{ message.content|linebreaksbr }}
            </div>
          </div>
          {% endfor %}
        </div>
        <form action="{% url 'gpt:ask_gpt' %}" method="POST" onsubmit="return submitForm(event)">
          <!-- this secures the form from malicious attacks during submission -->
          {% csrf_token %}
          <input class="form-control mb-2" required type="text" autofocus="autofocus" name="prompt" value="{{ prompt }}"
                 id="">
          <label for="temperature" class="form-label">Насколько сильно призадуматься:</label>
          <input class="form-control mb-2" type="number" step="0.01" min="0" max="2" name="temperature"
                 value="{{ temperature }}" id="temperature">
          <button class="btn btn-success fw-bold" type="submit">Спросить у ИИ</button>
          <button type="button" class="btn btn-primary fw-bold" onclick="location.href='{% url 'gpt:new_chat' %}'">
            Начать по новой
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function submitForm(event) {
    event.preventDefault(); // прерываем отправку формы

// отправляем запрос на сервер
    fetch("{% url 'gpt:ask_gpt' %}", {
      method: "POST",
      body: new FormData(event.target)
    })
      .then(response => {
        if (response.status === 429) {
          alert("Слишком много запросов. Попробуйте позже или авторизуйтесь.");
        } else {
// получаем содержимое ответа в виде текста
          return response.text();
        }
      })
      .then(html => {
// заменяем содержимое страницы на HTML-код из ответа, если код ответа не равен 429
        if (html !== undefined) {
          document.open();
          document.write(html);
          document.close();
        }
      })
      .catch(error => {
        console.error(error);
      });

    return false;
  }
</script>
{% endblock %}