{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class='row justify-content-center overflow-auto pb-4'>
  <div class='col-md-8 mt-4'>
    <div class='card'>
      <h1 class='card-header text-center'>Веб Ассистент</h1>
      <div class='card-body'>
        <div class='chat-history mb-3'>
          {% for message in messages %}
          <div class="card mb-2 {% if message.role == 'assistant' %} bg-secondary text-white{% endif %}">

            <div class='card-header'>
              <strong>{{ message.role|title }}:</strong>
            </div>
            <div class='card-body p-2 text-break'>

              <div style='white-space: pre-wrap;'>
                {{ message.content|escape }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <form class='row g-3' action="{% url 'gpt:ask_gpt' %}" method='POST' onsubmit='return submitForm(event)'>
          {% csrf_token %}
          <div class='col-12'>
            <textarea class='form-control mb-2' required autofocus='autofocus' name='prompt' id=''
                      rows='1'>{{ prompt }}</textarea>
          </div>
          <div class='col-md-4'>
            <button class='btn btn-success fw-bold w-100' type='submit' id='gpt-ask'>
              <span id='spinner' class='spinner-border spinner-border-sm me-2' role='status' aria-hidden='true'></span>
              Спросить у ИИ
            </button>
          </div>
          <div class='col-md-4'>
            <button type='button' class='btn btn-secondary fw-bold w-100'
                    disabled='true'>
              Вопросов за всё время: {{ usage_count }}
            </button>
          </div>
          <div class='col-md-4'>
            <button type='button' class='btn btn-primary fw-bold w-100'
                    onclick="location.href='{% url 'gpt:new_chat' %}'">
              Начать по новой
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  const textarea = document.querySelector('textarea[name="prompt"]');
  textarea.addEventListener('input', function() {
    this.setAttribute('rows', Math.ceil(this.value.length / 50));
  });

  function submitForm(event) {
    event.preventDefault();
    const button = document.getElementById('gpt-ask');
    const spinner = document.getElementById('spinner');
    button.disabled = true;
    spinner.style.display = 'inline-block';
    fetch('{% url \'gpt:ask_gpt\' %}', { method: 'POST', body: new FormData(event.target) })
      .then(response => {
        if (response.status === 429) {
          alert('Слишком много запросов. Попробуйте позже или авторизуйтесь.');
        } else {
          return response.text();
        }
      })
      .then(html => {
        if (html !== undefined) {
          document.open();
          document.write(html);
          document.close();
        }
        button.disabled = false;
        spinner.style.display = 'none';
      })
      .catch(error => {
        console.error(error);
        button.disabled = false;
        spinner.style.display = 'none';
      });
    return false;
  }
</script>
<style>
  .spinner-border {
    display: none;
  }
</style>
{% endblock %}