{% extends 'base.html' %}
{% block title %} Про сайт {% endblock %}
{% block content %}
<div class="container">
  <h1 class="my-4 text-center">Про сайт</h1>
  <div class="col">
    <div class="col-md-12">
      <div class="card my-4">
        <div class="card-body">
          <h2 class="card-title">Диалог с нейросетью</h2>
          <p class="card-text">Тут можно вести диалог с нейросетью ChatGPT. Можно задавать ей любые
            вопросы и получать на них ответы.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card my-4">
        <div class="card-body">
          <h2 class="card-title">Авторизация через социальные сети</h2>
          <p class="card-text">Есть возможность авторизации через социальные сети, например, Вконтакте. Это
            позволит вам задавать вопросы без ограничений на количество в минуту, как у неавторизованного пользователя.</p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card my-4">
        <div class="card-body">
          <h2 class="card-title">Архив вопросов и ответов</h2>
          <p class="card-text">Авторизованные пользователи имеют возможность просмотреть заданные раннее вопросы и ответы на них.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}